@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/css/aboutUs.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
    <div class="about-us">
        <h1>About Us</h1>
        <p>
            Traveling, whether for business or leisure, often involves
            managing multiple expenses. These expenses can quickly accumulate, leading to the necessity for
            meticulous tracking to stay within budget. Many travelers, however, struggle with maintaining an
            organized record of their expenditures, leading to overspending, loss of receipts, and
            difficulty in reimbursement claims. Traditional methods of tracking expenses, such as manual
            entry in spreadsheets or keeping physical receipts, are cumbersome and prone to errors. With the
            rise of digital transformation, there is a growing demand for automated solutions that simplify
            expense management. The proliferation of smartphones and easy Internet access provide an
            excellent opportunity to develop a Web application that addresses these challenges
            effectively
        </p>
    </div>
    <div class="about-container">
        <section class="about">
            <div class="about-img">
                <img src="~/imageUser/about-img.jpg" alt="">
            </div>
            <div class="about-content">
                <h2>Overview</h2>
                <p>
                    The website offers a comprehensive travel management platform for users. After logging in, users
                    receive personalized notifications and can manage their profiles, edit information, and upload
                    profile pictures. The homepage features an overview of upcoming trips and recent activities,
                    along with tools to create and manage detailed itineraries, including flights, accommodations,
                    and activities. Users can track expenses, set budgets, and receive alerts for spending limits.
                    The system supports multiple currencies, provides exchange rates, and enables detailed expense
                    reporting. Daily notifications and reminders assist users in recording expenses and tracking
                    their journeys.
                </p>
            </div>
        </section>
    </div>
</main>