################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechWiz/.vs/TechWiz/v17/.suo
/TechWiz/TechWiz/obj/Debug/net8.0/TechWiz.AssemblyInfo.cs
/TechWiz/TechWiz/obj/Debug/net8.0/TechWiz.AssemblyInfoInputs.cache
/TechWiz/TechWiz/obj/Debug/net8.0/TechWiz.assets.cache
/TechWiz/TechWiz/obj/Debug/net8.0/TechWiz.GeneratedMSBuildEditorConfig.editorconfig
/TechWiz/TechWiz/obj/project.assets.json
/TechWiz/TechWiz/obj/project.nuget.cache
/TechWiz/TechWiz/obj/TechWiz.csproj.nuget.dgspec.json
/TechWiz/TechWiz/obj/TechWiz.csproj.nuget.g.props
/TechWiz/TechWiz/obj/TechWiz.csproj.nuget.g.targets
TechWiz/.vs/TechWiz/FileContentIndex/009755c7-9932-4d50-b984-569a62b7dc51.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/096c19fe-ba0f-4c31-9a9b-018aa4807e8e.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/11adee28-dec2-4a2d-88f5-3a4c14d9a8c8.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/231e8eb7-56db-43c3-baee-c9d1e9c7aff3.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/c8de982d-9796-41fa-8a6f-215b81f0a5f8.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/1decdc98-7d12-4686-9107-23e75939a1ba.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/1fdfe105-3542-42ea-8a18-3098904634ad.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/881e8e72-61f6-48ef-9365-5f25f5672032.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/9f568de4-9235-410d-b26b-439d08273511.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/f18af350-b855-46a9-9340-e56d826b40ee.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/2a069589-39d0-42d5-b7fa-0999dde2ade2.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/2c0752eb-e873-46c1-8bd5-e00e5322d43f.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/6811281d-ef2b-4fff-8235-c712ef2b00c7.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/db6b098a-c909-4d0a-bb0b-db1d68f32829.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/e2ab8868-32a4-449e-b7d4-6920ceb043a1.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/29ea6fbb-efc7-45ef-b316-48a322129dbd.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/47b1aa2e-a0eb-4e36-94c8-3cdd99ef0705.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/96b341c0-3a76-488e-bd4c-e18e5a9b7e15.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/3508c227-88e5-4eb0-acb7-8076fe059217.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/7f21eb1d-f3fd-465f-915e-95e876132300.vsidx
TechWiz/.vs/TechWiz/FileContentIndex/7f763e92-c884-4414-bb64-24b1d955a43e.vsidx
