@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
<<<<<<< HEAD
=======
    Layout = "~/Views/Shared/LayoutPersonal.cshtml";
>>>>>>> main
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
