
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechWiz</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechWiz.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/UserLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="nav-left">
                <div class="nav-name">
                    <a asp-controller="User" asp-action="Home" class="nav-name-lg"><i class="fa-solid fa-location-dot"></i> DATV</a>
                </div>
                <div class="nav-menu">
                    <a asp-controller="User" asp-action="Home" class="nav-link">Home</a>
                    <a asp-controller="User" asp-action="PlanTrip" class="nav-link">Plan trip</a>
                    <a asp-controller="User" asp-action="Destination" class="nav-link">Gallery</a>
                    <a asp-controller="User" asp-action="AboutUs" class="nav-link">AboutUs</a>
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <form action="" class="nav-search-form">
                        <i class="fa-solid fa-magnifying-glass nav-search-icon"></i>
                        <input type="text" id="search-input" class="nav-search-input" placeholder="Explore by destination">
                        <div id="suggestions" class="suggestion-list" style="display: none;"></div>
                    </form>
                </div>

                <div class="nav-log">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>
    <div style="height:80px">

    </div>
    @RenderBody()
    <script src="~/js/UserLayout.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>